
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #FFFFFF;
}

/*
.main-index {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

*/

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.city-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.advantages-intro {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.advantage-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.advantage-texts {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.advantage-text-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.advantage-texts-black {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advant-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.advant-texts {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel-search-form {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

.newsletter-subscribtion {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF
}

.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000
}


.newsletter {
  background-image: url("../images/fon-futer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}



.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000
}


/* стили для второй страницы  */

/*

.main-inner {
  background-image: url("../images/catalog-backgraund.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

*/



.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.price-range {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.button-apply  {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.found-hotel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-amara-title  {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-diablo-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-desert-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-green-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-amara-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.hotel-diablo-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-desert-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-green-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-amara-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-diablo-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-desert-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-green-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-amara-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hotel-diablo-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hotel-desert-more{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hotel-green-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hotel-amara-tofavorit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hotel-diablo-tofavorit{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hotel-desert-tofavorit{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hotel-green-tofavorit{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.raiting {
  font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}


.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
}
